cm_notification-flow.json
[
    {
        "id": "main.flow",
        "type": "tab",
        "label": "main",
        "disabled": false,
        "info": ""
    },
    {
        "id": "test.flow",
        "type": "tab",
        "label": "test",
        "disabled": false,
        "info": ""
    },
    {
        "id": "eacbb9ef.69d5c8",
        "type": "EventListener",
        "z": "main.flow",
        "name": "Recieve notification event",
        "provider": "aws",
        "eventSource": "sqs",
        "dynamodbOperation": "",
        "apiMethod": "get",
        "apiUrl": "/hello",
        "albMethod": "any",
        "albUrl": "",
        "bucketName": "",
        "event": "",
        "reference": "",
        "kapiUrl": "",
        "kcronexpression": "",
        "kreference": "",
        "kObjectStoreName": "",
        "zapiUrl": "",
        "x": 120,
        "y": 160,
        "wires": [
            [
                "bab2c43d.467718"
            ]
        ],
        "caname": "event-handler",
        "category": "general"
    },
    {
        "id": "b5fc6ccd.17dd7",
        "type": "EventListener-End",
        "z": "main.flow",
        "name": "Success",
        "statusCode": "200",
        "headers": {
            "Content-Type": "application/json"
        },
        "payload": "{\"status\": \"completed\"}",
        "x": 520,
        "y": 160,
        "wires": [],
        "caname": "eventlistenerend",
        "category": "general"
    },
    {
        "id": "b970b7d2.5454c8",
        "type": "Assertion",
        "z": "test.flow",
        "name": "check response",
        "selector": "jsonBody",
        "property": "hello",
        "comparison": "equals",
        "value": "world",
        "x": 265,
        "y": 160,
        "wires": [
            [
                "e0721cc7.653eb"
            ]
        ],
        "caname": "test-assertion",
        "category": "testing"
    },
    {
        "id": "e0721cc7.653eb",
        "type": "TestCaseEnd",
        "z": "test.flow",
        "name": "TestCaseEnd",
        "x": 425,
        "y": 160,
        "wires": [],
        "caname": "test-case-end",
        "category": "testing"
    },
    {
        "id": "e8fb91dc.46c24",
        "type": "HTTPTestCase",
        "z": "test.flow",
        "name": "HTTPTestCase",
        "method": "GET",
        "path": "/hello",
        "headers": {
            "Accept": "application/json"
        },
        "authtype": "none",
        "secUser": "",
        "secPassword": "",
        "secToken": "",
        "payload": "",
        "x": 122.5,
        "y": 160,
        "wires": [
            [
                "b970b7d2.5454c8"
            ]
        ],
        "caname": "http-test-case",
        "category": "testing"
    },
    {
        "id": "5be2dd07.17ec74",
        "type": "Datadog",
        "z": "main.flow",
        "name": "Log_In",
        "loglevel": "Info",
        "host": "env.datadoghost",
        "hostType": "",
        "service": "env.servicename",
        "serviceType": "",
        "key": "env.datadogkey",
        "keyType": "",
        "property": "$string( {\"type\":\"service-in\", \"message\" : \"SNS event recieved\", \"data\": msg.payload, \"btxnid\": msg.bid,\"txnid\" : msg._msgid } )",
        "propertyType": "",
        "x": 402.5,
        "y": 160,
        "wires": [
            [
                "b5fc6ccd.17dd7"
            ]
        ],
        "caname": "datadog",
        "category": "logging"
    },
    {
        "id": "bab2c43d.467718",
        "type": "JSON",
        "z": "main.flow",
        "name": "JSON",
        "property": "msg.payload",
        "action": "obj",
        "pretty": false,
        "x": 202.5,
        "y": 160,
        "wires": [
            [
                "9b86bc24.6f23e"
            ]
        ],
        "caname": "JSON",
        "category": "transformation"
    },
    {
        "id": "9b86bc24.6f23e",
        "type": "Set-Property",
        "z": "main.flow",
        "name": "Set bussiness txid",
        "rules": [
            {
                "t": "set",
                "p": "bid",
                "pt": "camsg",
                "to": "$eval( msg.payload.Records[0].body ).bid",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 282.5,
        "y": 160,
        "wires": [
            [
                "5be2dd07.17ec74"
            ]
        ],
        "caname": "setproperty",
        "category": "transformation"
    }
]